body{
    background-color: khaki;
}

#title{
    margin: 20px;
    text-align: center;
    width: 100vw;
}

#form{
    margin: 10px;
}

.form-item{
    margin: 20px;
}

#card-number{
    width: 50px;
}

#reset-button, #print-button{
    font-size: 16px;
    background-color: paleturquoise;
    border-radius: 10%;
    padding: 10px;
    width: 100px;
    border: 2px solid #0aa;
}

#reset-button:hover, #print-button:hover{
    border: 2px solid paleturquoise;
    background-color: #0aa;
    cursor: pointer;
}


#cards-container{
    display: flex wrap;
    width: 100vw;
    height: max-content;
    margin: auto !important;
}

.card-wrapper{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: max-content;
    background-color: paleturquoise;
}

h2{
    font-size: 36px;
    text-align: center;
    width: auto;
    color: black;
    height: 40px;
    border-radius: 15px;
}

.card{
    border: 2px solid black;
    margin: 5px;
}

.cells{
    height: 100px;
    width: 100px !important;
    text-align: center;
    border: 1px solid black;
    font: 20px solid black;
}

.picture{
    max-width: 60px;
}

#seven{
    display: none;
}

#error-display{
    color: red;
    margin-left: 20px;
}