body{
    background-color: khaki;
}

#title{
    margin: 20px;
    text-align: center;
    width: 100vw;
}

#form{
    margin: 10px;
}

.form-item{
    margin: 20px;
}

#card-number{
    width: 50px;
}

#cards-container{
    display: flex wrap;
    width: 100vw;
    height: max-content;
    margin: auto !important;
}

.card-wrapper{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: max-content;
    background-color: paleturquoise;
}

h2{
    font-size: 36px;
    text-align: center;
    width: auto;
    color: black;
    height: 40px;
    border-radius: 15px;
}

.card{
    border: 2px solid black;
    margin: 5px;
}

.cells{
    height: 100px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    font: 20px solid black;
}